*.o
*~
/libsid.so
/libsid_demo
/libsid_demo.o
/done/unit-test-alu
/done/unit-test-bit
/done/unit-test-bus
/done/unit-test-component
/done/unit-test-cpu
/done/unit-test-cpu-dispatch-week08
/done/unit-test-cpu-dispatch-week09
/done/unit-test-cpu-dispatch
/done/unit-test-memory
/done/unit-test-bit-vector
/done/test-gameboy
/done/test-image
/done/unit-test-timer
/done/unit-test-cartridge
/done/unit-test-alu_ext
/done/CMakeLists.txt
/done/dump_cpu.txt
/done/dump_mem.bin
/done/test-cpu-week08
/done/test-cpu-week08-output.txt
/done/util
.idea
done/cmake-build-debug/
done/.vscode/
done/gbsimulator
