*.o
*~
/libsid.so
/libsid_demo
/libsid_demo.o
/done/unit-test-alu
/done/unit-test-bit
/done/unit-test-bus
/done/unit-test-component
/done/unit-test-cpu
/done/unit-test-cpu-dispatch-week08
/done/unit-test-cpu-dispatch-week09
/done/unit-test-memory
/done/CMakeList.txt
/done/util
.idea
done/cmake-build-debug/
