*.o
*~
/libsid.so
/libsid_demo
/libsid_demo.o
/done/unit-test-alu
/unit-test-bit
/unit-test-bus
/unit-test-component
/unit-test-memory
/done/CMakeList.txt
/done/brouillon.c
.idea/
done/cmake-build-debug/
